@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #101521; */
  background: linear-gradient(309deg, #101521, #282c37);
  background-size: 200% 200%;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
